# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
#

# 1. Tinh toan dung SNR cho DSSS
dsss_snr = value : dsss_snr

# 2. Tinh toan dung SNR cho FHSS
fhss_snr = value : fhss_snr

# 3. Giai ma dung tin hieu DSSS sach
dsss_clean = value : dsss_clean

# 4. Giai ma dung tin hieu FHSS sach
fhss_clean = value : fhss_clean

# 5. FHSS khang nhieu don tan thanh cong
fhss_jam = value : fhss_jam
